#loading-box #loading-percentage {
    position: absolute;
    top: 67%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
  }
  
  #loading-box #loading-percentage::before {
    content: "「";
    margin-right: 10px
  }
  
  #loading-box #loading-percentage::after {
    content: "」";
    margin-left: 10px
  }